html {
  font-family: sans-serif;
}
#map {
  width: 90%;
  height: 40rem;
  border: 2px solid #ccc;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  font-size: 20px;
}
form {
  text-align: center;
  margin: 2rem auto;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  font-size: 20px;
}
button:hover {
  background-color: blue;
  color: white;
}
input {
  width: 35%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 12px;
}
